.nav ul {
    display: flex;
    gap: 5px;
    list-style-type: none;
    padding: 0;
    margin-right: 250px;


}

.nav li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;

}

.nav li a:hover {
    color: #F4CE14;
}